html {
    font-family: sans-serif;
    line-height: 130%;
}

.container {
    max-width: 30em;
    margin: 0 auto;
}

#output {
    margin-top: 1em;
}

br {
    line-height: 200%;
}

a, a:visited {
    text-decoration: none;
    color: hsl(220, 75%, 55%);
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 10px;
    font-size: 0.7em;
    opacity: 70%;
}