body {
    margin: 0;
    font-family: sans-serif;
    line-height: 130%;
}

.container {
    max-width: 30em;
    margin: 0 auto;
    padding: 0.7em 1em;
}

#compose-box {
    background-color: hsl(0, 0%, 90%);
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 28em; /* .container is 30em, padding 1em + 1em */
    padding: 1em;
    margin-left: -1em;
    margin-bottom: env(safe-area-inset-bottom);
}

input {
    font-size: 16px;
}

.response-container {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.response-bubble {
    margin-top: 1em;
    display: inline-block;

    /* text bubble */
    background-color: hsl(0, 0%, 90%);
    padding: 0.6em 0.8em;
    border-radius: 0.7em;
}

.my-message-container {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.my-message-bubble {
    margin-top: 1em;
    display: inline-block;

    /* text bubble */
    background-color: hsl(215, 90%, 50%);
    color: white;
    padding: 0.6em 0.8em;
    border-radius: 0.7em;
}

.copied-indicator {
    font-size: 0.8em;
}

p {
    margin: 0;
}

br {
    line-height: 200%;
}

a, a:visited {
    text-decoration: none;
    color: hsl(220, 75%, 55%);
}

a:hover {
    text-decoration: underline;
}

.disclaimer {
    font-size: 0.7em;
    line-height: 130%;
    margin: 0.35em 0;
}

footer {
    margin-top: 10px;
    font-size: 0.7em;
    opacity: 70%;
}

input[type=text] {
    appearance: none;
    background-color: transparent;
    border: 2px solid hsla(0, 0%, 0%, 20%);
    padding: 0.2em 0.5em;
    border-radius: 1em;
}

button {
    appearance: none;
    background-color: hsl(215, 90%, 50%);
    color: white;
    border: none;
    padding: 0.5em 0.8em;
    border-radius: 2em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: hsl(215, 20%, 10%);
        color: hsl(0, 0%, 90%);
    }

    input[type=text] {
        color: hsl(0, 0%, 90%);
        border: 2px solid hsla(0, 0%, 90%, 40%);
        padding: 0.2em 0.5em;
        border-radius: 1em;
    }

    #compose-box {
        background-color: hsl(215, 15%, 22%);
    }

    button {
        background-color: hsl(215, 70%, 50%);
        color: white;
    }

    .response-bubble {
        background-color: hsl(215, 15%, 22%);
        color: hsl(0, 0%, 90%);
    }

    .my-message-bubble {
        background-color: hsl(215, 70%, 50%);
        color: white;
    }

    a, a:visited {
        color: hsl(220, 75%, 55%);
    }
}