:root {
    --bg: white;
    --fg: black;
    --my-message-bg: hsl(215, 90%, 50%);
    --my-message-fg: white;
    --response-bg: hsl(0, 0%, 90%);
    --link: hsl(220, 75%, 55%);
    --input-border: hsla(0, 0%, 0%, 20%);
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 130%;
    background-color: var(--bg);
    color: var(--fg);
}

.container {
    max-width: 30em;
    margin: 0 auto;
    padding: 0.7em 1em;
}

#compose-box {
    background-color: var(--response-bg);
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 28em; /* .container is 30em, padding 1em + 1em */
    padding: 1em;
    margin-left: -1em;
    margin-bottom: env(safe-area-inset-bottom);
}

input {
    font-size: 16px;
}

.response-container {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.response-bubble {
    margin-top: 1em;
    display: inline-block;

    /* text bubble */
    background-color: var(--response-bg);
    color: var(--fg);
    padding: 0.6em 0.8em;
    border-radius: 0.7em;
}

.my-message-container {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.my-message-bubble {
    margin-top: 1em;
    display: inline-block;

    /* text bubble */
    background-color: var(--my-message-bg);
    color: var(--my-message-fg);
    padding: 0.6em 0.8em;
    border-radius: 0.7em;
}

.copied-indicator {
    font-size: 0.8em;
}

p {
    margin: 0;
}

br {
    line-height: 200%;
}

a, a:visited {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    text-decoration: underline;
}

.disclaimer {
    font-size: 0.7em;
    line-height: 130%;
    margin: 0.35em 0;
}

footer {
    margin-top: 10px;
    font-size: 0.7em;
    opacity: 70%;
}

input[type=text] {
    appearance: none;
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--input-border);
    padding: 0.2em 0.5em;
    border-radius: 1em;
}

button {
    appearance: none;
    background-color: var(--my-message-bg);
    color: var(--my-message-fg);
    border: none;
    padding: 0.5em 0.8em;
    border-radius: 2em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(215, 20%, 10%);
        --fg: hsl(0, 0%, 90%);
        --my-message-bg: hsl(215, 70%, 50%);
        --my-message-fg: white;
        --response-bg: hsl(215, 15%, 22%);
        --link: hsl(220, 75%, 55%);
        --input-border: hsla(0, 0%, 90%, 40%);
    }
}